@import url('https://fonts.googleapis.com/css?family=Roboto:400');

body{
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  min-width: 100%;
}

p {
  color: #1e1f1f;
}
.container__underheader {
  margin-top: 3%;
  margin-bottom: 3%;
}

.container__underheader__title {
  color: #405866;
}

.container__underheader__p {
  font-size: 16px;
}

.tableau_css {
  min-width: 100%;
}

th {
  cursor: pointer;
  border: 0px;
}

.table td{
  padding-top: 20px;
  padding-bottom: 0px;
}